body {
    
    background: url(https://cdna.artstation.com/p/assets/images/images/057/220/458/medium/toby-zimmer-img-fa-eldenring-landscape-01.jpg?1671067725);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: yellow;
    background-size: cover;
  }

  h1 {
    text-align: center;
  }
  
  img {
    align-items: center;
    display: block;
    margin: auto;
  }
  
  figcaption{
    text-align: center;
    font-size: 12px;
  }
  
  nav {
    text-align: center;
  }
  
  nav a {
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(244, 9, 9);
    margin: auto;
  }

 

  h2 {
    text-align: center;
    color: orangered
  }

  ul {
    text-align: left;
  }

  .picked-components {
    color: firebrick;
  }

  #enemies {
    color: yellow;
    font-size: 20px;
  }

  #enemies div {
    float: left;
    width: 50%;
  }